@import url('https://fonts.googleapis.com/css?family=Roboto');
html, body{
    width: 100%;
    height: 100%;
    font-family: 'Roboto';
    font-size: 20px;
    color: #222; 
}
.benduoi {
    margin-bottom: 4px;
    text-align: center;
}

.w3-example {
    background-color: #f1f1f1;
    padding: 0.01em 16px;
    margin: 20px 0;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}

.tieude {
    /* width: 252.55px;
    height: 42px; */
    margin-bottom: 4px;
    text-align: center;
}


.tieudee {
    /* width: 252.55px;
    height: 42px; */
    margin-top: 15px;
    text-align: center;
}


.tieude2 {
    /* width: 252.55px;
    height: 42px; */
    font-size:12px;
    margin-bottom: 4px;
    text-align: center;
}

.row_center {
    margin-bottom: 10px;
    text-align: center;
}

.row.display-flex {
    display: flex;
    flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.form-control{
    background: white;
}
#color-search{
    background: rgba(19, 185, 55, 0.9);
    /* font: white; */
    color: white;
}
#navbarTogglerDemo03{
    margin-left: 3rem;
}
#color-search:hover{
    color: blue !important ;
}
.navbar{
    background-color: rgba(19, 185, 55, 0.9) !important;
}
.navbar li a {
    color: white !important;
}
.navbar li a:hover {
    color: blue !important;
}
.carousel-inner img{
    width: 1100px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.carousel-caption{
    position: absolute;
    top: 20%:
}
.carousel-caption h1{
    font-size: 100%;
    text-transform: uppercase;
    text-shadow: 5px 5px 15px #000;
}
.btn-primary{
    background-color: rgb(95, 141, 168);
    border: 1px solid white
}
.btn-primary:hover{
    background-color: rgb(22, 139, 207);
    border: 1px solid white;
}
.container-fluid{
    font-family: 'Roboto';

    width: 1100px;
}
#menu{
    width: 100%;
    padding: 0;
}
#menu ul{
    background: white;
    width: 100%;
    padding:0;
    list-style-type: none;
    margin-left: 20px; 
}
#menu ul li{
    /* width: 150px;; */
    /* margin-left: 45px; */
    font-size: 15px;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid#e8e8e8;
    padding: 0 1em;
    position: relative;
}
#menu ul li a{
    text-decoration: none;
    color: #333;
    font-size: 15px;
    /* font-weight: bold; */
    display: block;
    font-family: 'Roboto';
}
#menu ul li:hover{
    background: #cde2cd
}
#menu .sub-menu{
    position: absolute;
    /* left: 100px; */
    top: 0;
    display: none;
}
#menu ul li:hover .sub-menu{
    display: block;
}
#menu ul h4{
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 130%;
    /* margin-left: 45px; */
    /* margin-right: auto; */
}
.panel-heading h4{
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 130%;
}
.thumbnail img{
    width: 150px;
}
#font div h5 a{
    font-family: 'Roboto';
    font-size:75%;
    color: #000;
    text-align: center;
}
.jumbotron{
    padding: 0rem;
    border-radius: 0;
    background-color: white;
    margin-top: 1rem;
}
.fun{
    width: 100%;
}
/* Media Query */
@media (max-width: 992px){
	.carousel-caption {
		top: 20%;
	}
	.carousel-caption h1{
		font-size: 100%;
	}
	.carousel-caption h3{		
		font-size: 160%;		
	}
	.carousel-caption .btn{		
		font-size: 120%;		
	}
}
@media (max-width: 768px){	
	.carousel-caption {
		top: 20%;
	}
	.carousel-caption h1{
		font-size: 220%;
	}
	.carousel-caption h3{		
		font-size: 140%;
		padding-bottom: 0.2rem;
	}
	.carousel-caption .btn{		
		font-size: 95%;
		padding: 8px 14px;
	}
}
@media (max-width: 576px){
	.carousel-caption {
		top: 10%;
	}
	.carousel-caption h1{
		font-size: 150%;
	}
	.carousel-caption h3{		
		font-size: 110%;		
	}
	.carousel-caption .btn {		
		font-size: 90%;
		padding: 4px 8px;
	}	
}





.main {
    background-color: #FFFFFF;
    width: 400px;
    height: 450px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.sign {
    padding-top: 0px;
    color: #4CAF50;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 23px;
}

.un {
width: 76%;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
margin-left: 46px;
text-align: center;
margin-bottom: 27px;
font-family: 'Roboto', sans-serif;
}

form.form1 {
    padding-top: 0px;
}

.pass {
        width: 76%;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
margin-left: 46px;
text-align: center;
margin-bottom: 5px;
font-family: 'Roboto', sans-serif;
}


.un:focus, .pass:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;
    
}

.submit {
  cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #9C27B0, #E040FB);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Roboto', sans-serif;
    margin-left: 35%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.forgot {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #E1BEE7;
    padding-top: 15px;
}

a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #E1BEE7;
    text-decoration: none
}

@media (max-width: 600px) {
    .main {
        border-radius: 0px;
    }
    











.bodyy {
    box-sizing: border-box;
    font-family: "Roboto";
    }
.login {
    width: 300px;
    height: 450px;
    border: 1px solid #CCC;
    background: url(http://68.media.tumblr.com/2b27908fac782ca54cc2b3aff6862423/tumblr_mra3owkIhC1ro855no1_500.gif) center center no-repeat;
    background-size: cover;
    margin: 30px auto;
    border-radius: 3px;
    }
.login .form {
    width: 100%;
    height: 100%;
    padding: 15px 20px;;
    }
.login .form h2 {
    color: #FFF;
    text-align: center;
    font-weight: normal;
    font-size: 18px;
    margin-top: 60px;
    margin-bottom: 80px;
    }
.login .form input {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    background: rgba(255,255,255,.5);
    border: 1px solid rgba(255,255,255,.1);
    padding: 0 15px;
    color: #FFF;
    border-radius: 2px;
    font-size: 14px;
    }
.login .form input:focus {
    border: 1px solid rgba(255,255,255,.8);
    outline: none;
    }
    ::-webkit-input-placeholder {
        color: #DDD;
    }
.login .form input.submit {
    background: rgba(255,255,255,.9);
    color: #444;
    font-size: 15px;
    margin-top: 40px;
    font-weight: bold;
    }
      
      