<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">       
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js">
    </script><script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
        <div class="container-fluid">
            <a class="navbar-branch" href="/">
                <img src="https://scontent-hkg3-1.xx.fbcdn.net/v/t1.15752-9/67357648_484857542274449_3945196038565920768_n.png?_nc_cat=111&_nc_oc=AQkvgxnnaet6kx5y6cwQZefWjZmBEdbDsDecgDzuocw8Dvcem8wkVksvVvGZzRHCk8c&_nc_ht=scontent-hkg3-1.xx&oh=8e09aeebcf0fa0c2c53b9e9ce149cccb&oe=5DDAB835" height="50" title="Doc sach moi luc moi noi" >
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon" ></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <form class="form-inline my-2 my-lg-0" action="/my_book" method="POST">
                    <input name = "searchs" class="form-control mr-sm-2" type="search" placeholder="Tìm kiếm ..." aria-label="Search">
                    <button id="color-search" class="btn btn-outline-success my-2 my-sm-0" type="submit">Tìm kiếm</button>
                </form>
            </div>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" >
                        <a class="nav-link" target="_blank" href="https://mindx.edu.vn/">About</a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link" href="/logout">logout</a>
                        </li>
                </ul>
            </div>
        </nav>
    <br>
    <h1>{{V.book}}</h1>
    <form method="POST">
        <label font-size:13px>Last Reading Day</label>
        <input name="last_reading_days"/>
        <label font-size:13px>Page</label>
        <input name="pages"/>
        <label font-size:13px>Note</label>
        <input name="notes"/>
        <input type="submit" value="Sửa" />
    </form>
<br>
<button type="button" onclick="alert('Start_day: {{V.start_day}}; Last Reading Day: {{V.last_reading_day}}; Page: {{V.page}}; >Note: {{V.note}}')">Lịch sử gần nhất</button>
 
<!-- <h2>Lịch sử gần nhất</h2>
<p style="font-size:13px;">Start_day: {{V.start_day}}</p>
<p style="font-size:13px;">Last Reading Day: {{V.last_reading_day}}</p>
<p style="font-size:13px;">Page: {{V.page}}</p>
<p style="font-size:13px;">Note: {{V.note}}</p> -->

</body>
</html>